.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.reach-out form {
  width: 100%;
  text-align: center;
}

.reach-out #email_address, textarea {
  text-align: center;
  width: 100%;
}

.reach-out textarea {
  height: 8em;
}

.header-wrapper {
  text-align: center;
}

.footer-wrapper {
  text-align: center;
}