<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dev Forward - Coding for the Future</title>
    <meta name="description" content="">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
    <link href="application.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- <script src="js/vendor/modernizr-2.5.3.min.js"></script> -->
  </head>
  <body class="home">
    <div class="container">

    <div class="header-wrapper">
      <header>
        <div class="site-title">
          <h1>Dev Forward</h1>
          <h3>Moving Forward Through Coding</h3>
        </div>
      </header>
    </div>

    <div class="page">
      <h4>What is Dev Forward?</h4>
      <p>Dev forward is an organization committed to helping the tech community connect with other communities, such as individuals from under-resourced communities that have traditionally been under-represented in the tech industry. We will accomplish this through web development instruction, education and mentoring individuals through partnerships with community organizations. Additionally, we hope to support new, socially driven web applications built to help the community and without the intention of making a profit.</p>
      <h4>Are you a not for profit organization?</h4>
      <p>Yes! Dev Forward is a non-profit organization incorporated in the State of Illinois that is currently going through the steps to obtain our 501 (c)(3) Non-Profit Status. </p>
      <h4>Who is involved in Dev Forward?</h4>
      <p>Dev Forward was founded by 4 graduates from <a href="http://www.devbootcamp.com">Dev Bootcamp</a>. Key to Dev Forward's success has been the involvement of members of the Dev Bootcamp Community, including instructors, graduates and current students. Dev forward is an Open Source Project with all contributors volunteering their time! To get involved, email us at <a href="mailto:DevForwardFoundation@gmail.com" target="_top">DevForwardFoundation@gmail.com</a>!</p>
    </div>

    <div class="reach-out">
      <form action="contact" method="post">
        <input type="text" name="email" id="email_address" placeholder="Email Address - We respect your privacy and will not share this information with anyone else!"><br>
        <TEXTAREA name="message" id="message" placeholder="Please reach out!"></TEXTAREA><br>
        <input type="Submit" value="Contact Us"> 
      </form>
    </div>

    <div class="footer-wrapper">
      <footer>
          <p>&copy; <time>2012</time></p>
      </footer>
    </div>  

    </div>
  </body>
</html>